<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="/" class="navbar-brand">NODE BLOG</a>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">