<%- include ('partials/header') -%>
            <div class="card">
                <h1 class="heading"><%= pageTitle %> </h1>
                <p class="lead">
                    <%= pageContent %>
                </p>
            </div>
    <%- include ('partials/footer') -%>