<%- include ('partials/header') -%>
            <div class="card shadow">
                <h1 class="heading"><%= postTitle %> </h1>
                <p class="lead">
                    <%= postBody%>
                </p>
            </div>
    <%- include ('partials/footer') -%>