:root {
    --main-color:  rgba(240, 207, 184, 0.932);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

/* Utility */
.container {
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;
}

.lead {
    font-size: 1.3rem;
    margin: 20px 0;
}

.heading {
    font-weight: 400; 
}

.p-3 {
    padding: 35px;
}

.mt-3 {
    margin-top: 25px;
}

.text-center {
    text-align: center;
}

h3 {
    font-weight: 500;
}


/* Navbar */
header {
    background-color: var(--main-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar-brand {
    font-weight: 400;
    font-size: 1.33rem;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

ul a{
    font-weight: 400;

}

.navbar ul a:hover{
    color: #444;
    transition: all 0.02s;
}

/* Main */
.card {
    padding: 16px 0px;
}

.shadow {
    -webkit-box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.05); 
    box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.05);
    padding: 16px 20px;
    margin: 16px 0;
}

/* about us */
.form-group {
    margin: 0 0 10px 0;
}

input[type='submit']{
    min-width: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(15, 165, 15);
    color: #fff;
    cursor: pointer;
}

input[type='submit']:hover {
    opacity: 0.8;
}

input[type='submit']:focus {
    border: none;
    outline: none;
}

.form-control {
    min-width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    border: #ccc solid 2px;
    transition: border 0.38s;
    outline: none;
}

textarea{
    font-family: inherit;
    padding: 12px 20px;
}

.form-control:focus {
    border: #777 solid 2px;
    outline: none;
}


/* Footer */
.main-footer {
    background-color: var(--main-color);
}



